<!DOCTYPE HTML>
<html>

<head>
    <title>Statystyki dla {{chan_name}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='pikaday.css')}}">
    <script src="{{url_for('static', filename='chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='pikaday.js')}}"></script>
</head>

<body>
    <div>
        <div><a href="/">Powrót</a></div>
        <div>
        <span>Zakres dat</span>
        <form action="/stats/{{chan_name}}" method="POST">
            <label for="date_from">od</label>
            <input name="date_from" id="date_from" type="text">
            <label for="date_to">do</label>
            <input name="date_to" id="date_to" type="text">
            <input type="submit" value="OK">
        </form>
    </div>
    </div>
    <div>
        <canvas id="canvas" style="display: block; width: 1000px; height: 500px;"></canvas>
    </div>
    <script>
    var pickerFrom = new Pikaday({
        field: document.getElementById("date_from"),
        format: 'YYYY-MM-DD',
        toString(date, format) {
            var day = date.getDate().toString();
            if (day.length < 2) {
                day = "0" + day;
            }
            var month = (date.getMonth() + 1).toString();
            if (month.length < 2) {
                month = "0" + month;
            }
            var year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }
    });
    var pickerTo = new Pikaday({
        field: document.getElementById("date_to"),
        format: 'YYYY-MM-DD',
        toString(date, format) {
            var day = date.getDate().toString();
            if (day.length < 2) {
                day = "0" + day;
            }
            var month = (date.getMonth() + 1).toString();
            if (month.length < 2) {
                month = "0" + month;
            }
            var year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }
    });
    var chartData = {
        labels: {{periods | tojson}},
        datasets: [{
            label: "Posty na godzinę",
            borderColor: '#FF0000',
            backgroundColor: '#FF0000',
            fill: false,
            data: {{posts}},
            yAxisID: "y-axis-1",
        } {%if users %}
        , {
            label: "Użytkownicy online",
            borderColor: '#0000FF',
            backgroundColor: '#0000FF',
            fill: false,
            data: {{users}},
            yAxisID: "y-axis-2"
        } {% endif %}
        ]
    };

    window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Statystyki dla {{chan_name}} od {{periods[0]}} do {{periods[(periods|length)-1]}}"
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        scaleLabel: {
                            display: true,
                            labelString: 'Posty na godzinę'
                        }
                    }, {
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        scaleLabel: {
                            display: true,
                            labelString: 'Użytkownicy online'
                        },
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }],
                }
            }
        });

    };
    </script>
</body>

</html>
