<!DOCTYPE HTML>
<html>

<head>
    <title>Czy twoje ulubione forum o kupie jeździ na rowerku?</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="background">
        <video loop autoplay  class="background-vid">
            <source src="static/trk{{trk}}.webm" type="video/webm">
        </video>
    </div>
    <div class="content">
    <div>
        <h4>Aktualny stan czanów:</h4>
        <table>
            <ul>
            {%for chan in chans %} {% if chan.OK %}
            
            <tr class="ok">
                <td>
                    <img class="bike" alt="✓" src="{{url_for('static', filename='jezdzi.svg')}}"> <a href="/stats/{{chan.name}}">{{chan.name}}</a>            
                </td>
                <td>
                    {{chan.status}}
                </td>
                <td>
                   {% if chan.users_online %} online: {{chan.users_online}} {% endif %}
                </td>
                <td>
                    {% if chan.posts_per_hour is not none %} posty na godzinę: {{chan.posts_per_hour}} {% endif %}
                </td>
            </tr>
            {% else %}
            <tr class="no">
                <td>
                    <img class="bike" alt="❌" src="{{url_for('static', filename='spadlo.svg')}}"> {{chan.name}}
                </td>
                <td>
                    {{chan.status}}
                </td>
                <td></td><td></td>                
            </tr>
            {% endif %} {% endfor %}
        </ul>
    </table>
    </div>
   
    <footer>
        {% if last_check %}
        <div>Sprawdzono: {{last_check.strftime("%Y-%m-%d %X")}}</div> {% endif %}
        <div>Kontakt: tomekterka@loves.dicksinhisan.us</div>
        <div>{{commit_hash}}</div>
    </footer>
    </div>
</body>

<script>
    document.onload = function(){
        if (window.innerWidth <480) {
            document.getElementsByClassName("background-vid")[0].removeAttribute("autoplay")
        }
    }
</script>
</html>

