<!DOCTYPE HTML>
<html>

<head>
    <title>Czy twoje ulubione forum o kupie jeździ na rowerku?</title>
    <link rel="stylesheet" type="text/css" {% if dark %} href="{{url_for('static', filename='dark.css')}}" {% else %} href="{{url_for('static', filename='bicycle.css')}}" {% endif %}> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="background">
        {% if not dark %}
        <video loop autoplay class="background-vid">
            <source src="static/trk{{trk}}.webm" type="video/webm">
        </video>
        {% endif %}
    </div>
    <div class="content">
    <div>
        <h4>Aktualny stan czanów:</h4>
        <table>
            <th>strona</th>
            <th>stan</th>
            <th>online</th>
            <th>posty na godzinę</th>
            <ul>
            {%for chan in chans %} {% if chan.OK %}
            
            <tr class="ok" title="{{chan.notes}}">
                <td>
                    <img class="bike" alt="✓" src="{{url_for('static', filename='jezdzi.svg')}}"> <a href="/stats/{{chan.name}}">{{chan.name}}</a>            
                </td>
                <td class="center">
                    {{chan.status}}
                </td>
                <td class="right">
                   {% if chan.users_online %} {{chan.users_online}} {% else %} n/d {% endif %}
                </td>
                <td class="right">
                    {% if chan.posts_per_hour is not none %} {{chan.posts_per_hour}} {% else %} n/d {% endif %}
                </td>
            </tr>
            {% else %}
            <tr class="no" title="{{chan.notes}}">
                <td>
                    <img class="bike" alt="❌" src="{{url_for('static', filename='spadlo.svg')}}"> {{chan.name}}
                </td>
                <td>
                    {{chan.status}}
                </td>
                <td></td><td></td>                
            </tr>
            {% endif %} {% endfor %}
        </ul>
    </table>     
    </div>
   
    <footer>
        {% if last_check %}
        <div>Sprawdzono: {{last_check.strftime("%Y-%m-%d %X")}}</div> {% endif %}
        <div><span><a href="/styleSwitch">Styl {% if dark %} rowerowy {% else %} mroczny {% endif %}</a></span>|<span><a href="/racer">Zagraj i wesprzyj</a></span></div>
        <div>Kontakt: tomekterka@loves.dicksinhisan.us</div>        
        <div><a href="https://czyjezdzi.tk/">czyjezdzi.tk</a> - alternatywny sprawdzacz statusów</div>
        <div><span>{{commit_hash}}</span></span></div>
    </footer>
    </div>
</body>

<script>


</script>
</html>

